// @import 'partials/variables';
// @import 'partials/mixins';

@use 'partials/variables' as *;
@use 'partials/mixins' as *;


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
}

.flexClass{
    @include flex-center;
}

.flexColumn{
    flex-direction: column;
}

.header-container {
    background: $bg-gray;
}

.centered-container {
    width: 80vw;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;

    a {
        text-decoration: none;
        color: $text-color;
    }
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: $text-color;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.primary-button {
    background: #4CAF4F;
    color: #fff;
}

.secondary-button {
    background: transparent;
    color: #4CAF4F;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section {
    padding: 22px 0;
}

.heading-1 {
    font-size: 36px;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.para {
    font-size: 16px;
    color: #717171;
}

.care-desc {
    width: 630px;
    margin: 0 auto;
    margin-top: 16px;
}

.care-container {
    padding-top: 48px;
}

.care-image-container {
    position: relative;
    width: 368px;
}

.care-text {
    position: absolute;
    background: #F5F7FA;
    width: 80%;
    left: 10%;
    height: 135px;
    top: 68%;
    border-radius: 6px;
    text-align: center;
    padding: 45px;
    box-sizing: border-box;
}

.care-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
}

// Hero Section


.heroSection {
    @include flex-center;
    flex-direction: row;
    background-color: $bg-gray;
    gap: 50px;
    padding: 5%;
}

.flexHero{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.underHero {
    // height: 40vw;
    // width: 40vw;
    // background-color: #503131;
}

.imgunderHero {
    height: 30vw;
    width: 30vw;
}

.heroheading{
    font-size: 64px;
    color: #4D4D4D;
}

.heroDescription{
    font-size: 16px;
    color: #717171;
    margin-bottom: 20px;
}

.grrenbutton{
    background-color: $greenColor;
    // margin: 14px 0px;
    border-radius: 4px;
}

//Our Client Section Starts

.ourClients{
    margin-top: 20px;
    padding: 10px 144px;
    @include flex-center;
    flex-direction: column;
    gap: 10px;
}

.clientHeading{
    color: #4D4D4D;
    font-size: 36px;
    text-align: center;
    white-space: pre-line;
}

.clientDescription{
    font-size: 16px;
    color: #717171;
    text-align: center;
}

.clientImg{
    height: 48px;
    width : 48px;
}

.clientImgContainer{
    @include flex-center;
    gap: 140px;
    margin: 30px auto;
}

//community section starts

.community{
    padding: 5% 10%;
    @include flex-center;
    flex-direction: column;
    gap: 20px;
}

.communityHead{
    @include flex-center;
    flex-direction: column;
    gap: 20px;
}

.communityImage{
    height: 56px;
    width : 65px;
}

.communitySubHeading{
    color: #4D4D4D;
    text-align: center;
}

.communityText{
    color:#717171;
    font-size: 14px;
    text-align: center;
}

.communityCard{
    width: 300px;
    height: 280px;
    border-radius: 8px;
    box-shadow: 1px 2px 10px 1px rgba(229, 229, 229, 0.5); 
    @include flex-center;
    flex-direction: column;
    gap: 20px;
}

.communityCardCantainer{
    display: flex;
    // align-items: start;
    gap: 100px;
    margin-top: 20px;
    // justify-content: space-evenly;
}

//Spending years

.spendingYears{
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    flex-direction: row;
    padding: 30px 13vw;
}

.spendingYearImg{
    height: 330px;
    width: 440px;
}

.spendingYearsContent{
    display: flex;
    align-items: start;
    width: 30vw;
    gap: 20px;
}

//last Section starts

.lastSection{
    padding: 20px 13vw;
    @include flex-center;
    flex-direction: column;
    gap: 30px;
    background-color: #F5F7FA;
}

.lastSectionHead{
    font-size: 64px;
    color: #263238;
    white-space: pre-line;
    text-align: center;
}

.buttonArrow{
    margin-bottom: -3px;
    height: 16px;
    width: 16px;
}

//Helping Section

.helpingSection{
    padding: 30px 10vw;
    // @include flex-center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F7FA;
}

.helpingleft{
    display: flex;
    flex-direction: column;
    // justify-content: ;
    align-items: start;
}

.helpingIcons{
    height: 48px;
    width: 48px;
}

.helpingRightContainer{
    display: flex;
    flex-wrap: wrap;
    width: 25vw;
    gap: 40px;
}

.helpingRight{
    display: flex;
    align-items: center;
    // justify-content: space-around;
    gap: 10px;
}

//Feedback Section

.feedbackSection{
    padding: 30px 10vw;
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.feedbackLeft{
    width: 326px;
    height: 326px;
}

.feedbackRight{
    width: 40vw;
}

.feebackusername{
    color: #4CAF4F;
    margin: 20px 0;
    font-size: 20px;
}

.feedbackCompany{
    color: #89939E;
    font-size: 16px;
    line-height: 24px;
}

.feedbackImgSection{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.greenArrow{
    width: 24px;
    height: 24px;
}

.allCustomerButton{
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: row;
    gap: 8px;
}

.allCustomerGreenButton{
    color: #4CAF4F;
}

//Footer Starts

.footer {
  background-color: #263238;
  color: #ffffff;
  padding: 60px 120px;
  font-family: 'Inter', sans-serif;

   &-container {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    gap: 200px;
  }

  .footer-left {
    // flex: 0.7;
    margin-right: 20vw;

    .footer-logo {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 36px;
        height: auto;
      }

      h2 {
        font-size: 24px;
        font-weight: 700;
      }
    }

    p {
      margin-top: 16px;
      color: #cfd8dc;
      font-size: 14px;
      line-height: 1.6;
    }

    .social-icons {
      display: flex;
      gap: 16px;
      margin-top: 20px;

      a img {
        width: 32px;
        height: 32px;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .footer-links {
    display: flex;
    gap: 200px;

    .footer-column {
      h4 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 16px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 10px;

          a {
            color: #cfd8dc;
            font-size: 14px;
            text-decoration: none;
            transition: color 0.2s ease;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .footer-subscribe {
    h4 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    .subscribe-box {
      display: flex;
      align-items: center;
      background-color: #37474f;
      border-radius: 6px;
      overflow: hidden;

      input {
        background: transparent;
        border: none;
        color: #cfd8dc;
        padding: 10px 12px;
        flex: 1;
        font-size: 14px;
        outline: none;

        &::placeholder {
          color: #90a4ae;
        }
      }

      button {
        background: none;
        border: none;
        padding: 10px 14px;
        cursor: pointer;

        img {
          width: 18px;
          height: 18px;
        //   filter: invert(1);
        }
      }
    }
  }
}

.logoFooter{
    width: 190px;
    height: 30px;
}
